*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #ffe259; 
    --secondary: #ffa751; 
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    padding: 1rem; 
}

.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    transform: translateX(1000px);
}

#map{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.form-container{
    height: 100vh;
    width: 100vw;
    background-color: #12121250;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.popup--form{
    position: relative;
    width: 100%;
    max-width: 40rem;
    background-image: linear-gradient(to bottom right, #333333, #121212);
    color: white;
    padding: 2rem;
    padding-top: 4rem;
    height: 59rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    z-index: 5;
    transition: all 250ms ease-in;
}



#close-form{
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.form-logo{
    position: absolute;
    top:0;
    left: 50%;
    width: auto;
    height: 10rem;
    background-color: #222;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 50%;
}

.placeholder{
    display: flex;
    flex-direction: column;
}

.placeholder label{
    font-size: 1.6rem;
}

.placeholder label::first-letter{
    text-transform: capitalize;
}

#title,
#description,
#date{
    padding: .4rem .8rem;
    font-size: 1.6rem;
    border-radius: .8rem;
    outline: none;
    border: none;

}

#title,
#date{
    height: 4rem;
}


#description{
    resize: none;
    font-family: inherit;
    height: 12rem;
}

.total-desc-length{
    align-self: flex-end;
    margin: .4rem 0 .8rem 0;
}

.total-desc-length::first-letter{
    text-transform: uppercase;
}

.image{
    aspect-ratio: 1/1;
    height: 8rem;
    align-self: flex-start;
    background-color: #444;
    background-image: url('../images/t1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: calc(1.6rem - 5%);
    margin: 2% 0 5% 1%;
    float: left;
}

.image::after{
    content: "";
    height: 110%;
    width: 110%;
    background-color: #444;
    border-radius: 1.6rem;
    position: absolute;
    z-index: -1;
    left: -5%;
    top: -5%;
}

#btn-form-sub{
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    width: 10rem;
    background-color: var(--primary);
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: .8rem;
    cursor: pointer;
}

#select-image{
    display: none;
}

.marker-title{
    font-size: 1.6rem;
}

.marker-title::first-letter{
    text-transform: capitalize;
}

.marker-image{
    height: 130px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-marker .leaflet-popup-content-wrapper{
    border-left: 5px solid var(--secondary);
    font-size: 1.2rem;
    font-weight: 600;
    overflow: hidden;
}

.your-marker .leaflet-popup-content-wrapper{
    border-left: 5px solid var(--primary);
    border-top: 5px solid var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width:445px) {
    .popup--form{
        width: 90%;
    }
}