

.bg{
    background-image: url('../images/map-bg-lg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
}

.bg::after{
    content: '';
    opacity: 0.55;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--gradient-primary);
}




main{
    z-index:1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-container{
    height: 70vh;
    width: 60vw;
    border-radius: 5rem;
    padding: 10rem 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--gradient-translusent);
    box-shadow: 1px 5px 25px 5px rgba(0, 0, 0, 0.5);
}

#main-icon{
    height: 7vw;
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
    aspect-ratio: 1/1;
    box-sizing: content-box;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.log-in-form{   
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr;
    width: 40%;
    gap: 1rem;
}

.email-placeholder,
.password-placeholder{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.log-in-form label{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: .1rem;
}

.log-in-form label::first-letter{
    font-size: 1.6rem;
    text-transform: capitalize;
}

.log-in-form input{
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 500;
    border: none;
    outline: none;
    height: 4rem;
    border-radius: .8rem;
    background-color: #ffffff40;
    color: #fff;
}

.show-pwd-placeholder{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

#show-pwd{
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
}

#link-register{
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    margin-top: 1rem;
}