.bg{
    background-image: url('../images/map-bg-lg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
}

.bg::after{
    content: '';
    opacity: 0.55;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--gradient-primary);
}


.register-form-container{
    height: 80vh;
    width: 90rem;
    min-width: 40rem;
    margin: 0 3rem;
    /* box-sizing: content-box; */
    border-radius: 5rem;
    background-image: var(--gradient-translusent);
    box-shadow: 1px 5px 25px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.2rem;
    padding: 0 2rem ;
    margin-bottom: 3rem;
}

.logo{
    height: 5vw;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
}

.primary-title{
    font-size: 3.2rem;
    color: #fff;
}

.register-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 1rem 5rem;
    place-items: center;
}

.placeholder{
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.placeholder label{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.placeholder label::first-letter{
    text-transform: capitalize;
}

.placeholder input{
    height: 4rem;
    padding: .8rem 1.6rem;
    min-width: 25rem;
    max-width: 25rem;
    outline: none;
    border: none;
    border-radius: .8rem;
}

#create-account-btn{
    height: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.6rem;
    border-radius: .8rem;
    width: 25rem;
    position: relative;
    top: 6px;
    background-color: var(--pri-shd-10);
    border: none;
}

#link-to-login{
    background-color: transparent;
    border:none;
    cursor: pointer;
    color: var(--secondary);
    width: fit-content;
    position: absolute;
    left: 19%;
    bottom: 8%;
    font-size: 1.6rem;
}