*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary:#ffe259;
    --pri-shd-10: #e6cb50;
    --pri-tint-20: #ffe87a;
    --pri-tint-60: #fff3bd;

    --secondary: #ffa751;
    --sec-shd-10:#e69649;
    --sec-tint-20:#ffb974;
    --sec-tint-60:#ffdcb9;

    --gradient-primary: linear-gradient(to bottom right, var(--primary), var(--secondary));

    --gradient-translusent: linear-gradient(to right, rgba(70, 70, 70, 0.65), rgba(121, 121, 121, 0.65));
}

main{
    z-index:1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



